<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Imports</h1>
  <%= link_to "New import", new_import_path  %>
  <table class="table table-striped">
  <thead>
      <tr>
      <th scope="col">id </th>
      <th scope="col">Name</th>
      <th scope="col">smartsheet_id</th>
      <th scope="col">Created</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
      </tr>
  </thead>
  <tbody>
    <div id="imports">
      <% @imports.each do |import| %>
        <%= render partial: 'import', locals: {import: import} %>

      <% end %>
    </div>
  </tbody>
  </table>
</div>




