<tr>
    <td><%= smartsheet[:id] %></td>
    <td><%= link_to smartsheet[:name], smartsheet[:permalink], target: "blank" %></td>
    <td><%= smartsheet[:created_at] %></td>
    <td><%= smartsheet[:modified_at] %></td>
    <td> </td>
</tr>